.head{
	width:100%;
	height:50px;
	padding-top:20px;
}
.head i{
	font-family:"edwardian script itc";
	font-size:30px;
	margin-left:30px;
}
ul{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
.nav{
	width:850px;
	float:right;
	margin-right:-180px;
}
.top-nav{
	width:810px;
	float:left;
}
.top-nav li{
	font-size:18px;
	float:left;
	margin-right:20px;
	padding:0px 10px 0 15px;
	display:inline;
	position:relative;
}
.top-nav li a{
	padding:5px 5px ;
	text-decoration: none;
	display:block;
	color:#000;
}
.top-nav li a:hover{
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	color:khaki;
}
.sub-nav{
	width:120px;
	position:absolute;
	left:0;
	/*top:35px;*/
	margin:0;
	padding:0;
	display:none;
}
.sub-nav li{
	width:120px;
	margin:0;
	padding: 0;
	clear:both;
	border-bottom: 1px solid #F0F8FF;
}
.sub-nav li a{
	padding-left:20px;
	background-color:#000;
	color:#fff;
}
.sub-nav li a:hover{
	color:antiquewhite;
}
